aws_region            = "eu-central-1"
project_slug          = "everyday-lilly-vault"
environment           = "prod"
cognito_domain_prefix = "everyday-lilly-vault-prod-example"

auth_callback_urls = [
  "https://www.everydaylilly.com/auth/callback.html",
  "http://localhost:8000/auth/callback.html"
]

auth_logout_urls = [
  "https://www.everydaylilly.com/",
  "http://localhost:8000/"
]

archive_transition_days = 7
gallery_month_prefix    = "months"
gallery_test_prefix     = "test"
gallery_public_base_url = "https://d111111abcdef8.cloudfront.net"
gallery_cache_version   = "v1"
gallery_signed_url_ttl_seconds = 31536000
cognito_login_captcha_rate_limit           = 10
cognito_login_captcha_evaluation_window_sec = 60
cognito_login_captcha_immunity_time_sec    = 900
cognito_login_timeout_rate_limit           = 25
cognito_login_timeout_evaluation_window_sec = 300
price_class             = "PriceClass_100"

tags = {
  Owner = "your-name"
}
